:root {
  /* Alpha */
  --clr-alpha-white: 0, 0%, 100%;
  --clr-alpha-black: 0, 0%, 0%;
  /* Light Mode */
  --bg-clr-light: hsl(264, 100%, 99%);
  --txt-clr-light: hsl(257, 94%, 6%);
  --primary-clr-light: hsl(255, 51%, 52%);
  --contrast-clr-light: hsl(25, 92%, 61%);
  --link-clr-light: hsl(229, 57%, 53%);
  --mono-clr-light: hsla(0, 0%, 50%, 0.5);
  /* Main Colors */
  --bg-clr: var(--bg-clr-light);
  --txt-clr: var(--txt-clr-light);
  --primary-clr: var(--primary-clr-light);
  --contrast-clr: var(--contrast-clr-light);
  --link-clr: var(--link-clr-light);
  --mono-clr: var(--mono-clr-light);
  color-scheme: light;
}

:root {
  --ff-sans: "Open Sans", sans-serif;
  --ff-serif: "Libre Caslon Text", serif;
  --fs-s: 1rem; /* 12px */
  --fs-m: 1.3rem; /* 21.28px */
  --fs-l: 1.7rem; /* 28.48px */
  --fs-xl: 2.3rem; /* 37.92px */
  --fs-xxl: 3.1rem; /* 50.56px */
  --fs-3xl: calc(2.6rem + 4vw);
  --fw-l: 400;
  --fw-m: 500;
  --fw-b: 700;
}

body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-l);
  color: var(--txt-clr);
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.7;
}

h1,
h2 {
  font-family: var(--ff-serif);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.h1 {
  font-size: var(--fs-3xl);
  font-weight: var(--fw-b);
}

.h2 {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-b);
}

.h3 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-m);
}

.h4 {
  font-size: var(--fs-l);
  font-weight: var(--fw-m);
}

.p {
  font-size: var(--fs-m);
  font-weight: var(--fw-l);
}

.small {
  font-size: var(--fs-s);
  font-weight: var(--fw-l);
}

a:not(.button) {
  font-size: var(--fs-s);
  font-weight: var(--fw-m);
  text-decoration: none;
  color: var(--txt-clr);
}

.link {
  text-decoration: underline !important;
  color: var(--link-clr) !important;
}

.fs-s {
  font-size: var(--fs-s);
}

.fs-m {
  font-size: var(--fs-m);
}

.fs-l {
  font-size: var(--fs-l);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.fs-3xl {
  font-size: var(--fs-3xl);
}

.fw-l {
  font-weight: var(--fw-l);
}

.fw-m {
  font-weight: var(--fw-m);
}

.fw-b {
  font-weight: var(--fw-b);
}

@media print {
  :root {
    --fs-s: 12px; /* 1rem */
    --fs-m: 16px; /* 1.3rem */
    --fs-l: 22px; /* 1.7rem */
    --fs-xl: 30px; /* 2.3rem */
    --fs-xxl: 40px; /* 3.1rem */
    --fs-3xl: calc(24px + 4vw); /* Adjust as needed */
  }
}
:root {
  --radius: 0.5em;
  --shadow: 0 6px 30px rgba(0, 0, 0, 10%);
  --margin: min(12em, 12vh);
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --time-fast: 0.2s;
  --time-slow: 0.4s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: clip;
  background-color: var(--bg-clr);
}

html,
html:focus-within {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  font-size: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Container {
  --container-width: 90%;
  height: 100%;
  width: var(--container-width, 90%);
  margin-inline: auto;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a,
ul a {
  text-decoration: none;
}

::-moz-focus-inner {
  border: none;
}

:focus {
  outline: none;
}

:focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--accent-clr, hsla(0, 0%, 50%, 0.5));
}

input,
button,
textarea,
a,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  font-weight: var(--fw-b);
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: none;
  pointer-events: none;
  isolation: isolate;
}

.form-input {
  border: 0.1em solid var(--mono-clr);
  border-radius: var(--radius);
  padding: 0.35em 0.55em;
  width: 100%;
  background-color: var(--bg-clr);
  caret-color: var(--primary-clr);
  box-shadow: 0 0 0 -0.1em var(--bg-clr), 0 0 0 -0.2em var(--primary-clr);
  transition: box-shadow var(--time-fast) var(--animation);
}

.form-label {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  margin-inline: 0.45em;
  padding: 0.1em 0.35em;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em var(--bg-clr), 0 0 0 0.3em var(--primary-clr);
}

.form-input::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
}

.form-input::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.form-input::-moz-selection {
  background: var(--primary-clr);
  color: var(--bg-clr);
}

.form-input::selection {
  background: var(--primary-clr);
  color: var(--bg-clr);
}

.button {
  width: -moz-min-content;
  width: min-content;
  max-width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  padding: 0.65em 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: var(--fw-l);
  font-size: var(--fs-s);
  line-height: 1;
  border-radius: var(--radius);
  border: 3px solid var(--accent-clr);
  background-color: var(--accent-clr);
  color: var(--btn-txt-clr);
  box-shadow: var(--shadow);
  transition: transform var(--time-fast) ease;
}

.btn-primary {
  --accent-clr: var(--primary-clr);
  --btn-txt-clr: var(--bg-clr);
}

.btn-contrast {
  --accent-clr: var(--contrast-clr);
  --btn-txt-clr: var(--bg-clr);
}

.btn-mono {
  --accent-clr: var(--txt-clr);
  --btn-txt-clr: var(--bg-clr);
}

.button:active {
  transform: scale(0.95);
}

.button:not(:last-child) {
  margin-right: 1rem;
}

.button :where(svg, img, span) {
  pointer-events: none;
}

.txt-animation {
  opacity: 0.4;
  transform: translateX(-25%);
  animation: text-animation calc(var(--time-slow) * 1.5) var(--animation) forwards;
}

@keyframes text-animation {
  from {
    opacity: 0.4;
    transform: translateX(-25%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

:root {
  --Header-hight: 5rem;
}

header.main-header {
  width: 100%;
  height: var(--Header-hight);
  padding: 0.1rem 0;
  box-shadow: var(--shadow);
}
header.main-header .header__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header.main-header .header__Container .coll {
  width: auto;
  height: 100%;
  gap: 1rem;
}
header.main-header .header__Container .header__Logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header.main-header .header__Container .header__Logo a {
  height: 60%;
}
header.main-header .header__Container .header__Logo a img {
  height: 100%;
}
header.main-header .header__Container .c2 .mobile-nav-toggle {
  display: none;
}
header.main-header .header__Container .c2 nav {
  width: 100%;
  height: 100%;
}
header.main-header .header__Container .c2 nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
header.main-header .header__Container .c2 nav ul a {
  white-space: nowrap;
}

main#Hero {
  width: 100%;
  margin-bottom: calc(var(--margin) * 2.5);
}
main#Hero .Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main#Hero .Container .r1 {
  width: 100%;
  margin-top: var(--margin);
}
main#Hero .Container .r1 .hero-title {
  font-weight: var(--fw-l);
  font-family: var(--ff-serif);
  line-height: 1.4;
  text-transform: capitalize;
}
main#Hero .Container .r1 p {
  width: 50%;
}
main#Hero .Container .r2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-top: calc(var(--margin) / 2.5);
}
main#Hero .Container .r2 .hero-image {
  width: 25%;
  aspect-ratio: 1.6/1;
  position: relative;
}
main#Hero .Container .r2 .hero-image .image-placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--radius);
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--txt-clr);
  opacity: 0.1;
}
main#Hero .Container .r2 .hero-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--radius);
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: var(--shadow);
}
main#Hero .Container .r2 .hero-image .imag-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--radius);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 4;
  overflow: hidden;
  padding: 5% 5% 8% 8%;
  opacity: 0;
  background: linear-gradient(to top, hsla(0, 0%, 10%, 0.9) 0%, hsla(0, 0%, 10%, 0.5) 25%, hsla(0, 0%, 10%, 0) 50%, hsla(0, 0%, 10%, 0.2) 80%, hsla(0, 0%, 10%, 0.2) 100%);
  transition: opacity var(--time-fast) var(--animation);
}
main#Hero .Container .r2 .hero-image .imag-overlay h2 {
  font-size: var(--fs-l);
  font-family: var(--ff-sans);
  font-weight: var(--fw-l);
  color: var(--bg-clr);
  line-height: 1.2;
  letter-spacing: 1px;
  width: 40%;
}
main#Hero .Container .r2 .hero-image .imag-overlay svg {
  width: 1em;
  height: 1em;
  align-self: flex-end;
  fill: var(--bg-clr);
  color: var(--bg-clr);
}
main#Hero .Container .r2 .hero-image .card {
  width: 100%;
  height: auto;
  position: absolute;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  top: 96%;
  left: 0;
  transform: translateY(-50%);
  isolation: isolate;
  opacity: 0;
  z-index: 1;
  background-color: var(--bg-clr);
  padding: 5%;
  box-shadow: inset 0px 20px 15px 0px hsla(0, 0%, 0%, 0.08), 0 0 20px 10px hsla(0, 0%, 0%, 0.1);
  transition: opacity var(--time-fast) var(--animation), transform var(--time-fast) var(--animation);
}
main#Hero .Container .r2 .hero-image .card h3 {
  font-size: var(--fs-l);
  font-family: var(--ff-sans);
  font-weight: var(--fw-m);
  color: var(--txt-clr);
  line-height: 1.3;
  margin: 0.5em;
}
main#Hero .Container .r2 .hero-image .card a.button {
  width: 100%;
  margin-top: 1em;
}
main#Hero .Container .r2 .hero-image:hover .card {
  opacity: 1;
  transform: translateY(0);
}
main#Hero .Container .r2 .hero-image:hover .imag-overlay {
  opacity: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
main#Hero .Container .r2 .hero-image:hover .imag-overlay h2 {
  opacity: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
main#Hero .Container .r2 .hero-image:nth-child(2n) {
  margin-bottom: 3rem;
}

.hero-title {
  font-size: var(--fs-3xl);
}

section[aria-labelledby=form-title] {
  width: 100%;
  position: relative;
}
section[aria-labelledby=form-title] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
section[aria-labelledby=form-title] .Container {
  --container-width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section[aria-labelledby=form-title] .Container .Form {
  padding: 2rem;
  margin: 3rem 0;
  border-radius: var(--radius);
  background-color: var(--bg-clr);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}
section[aria-labelledby=form-title] .Container .Form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--fs-s);
  gap: 0.8em;
  text-align: left;
}
section[aria-labelledby=form-title] .Container .Form form .input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.2em;
  margin-block-start: 0.6em;
}
section[aria-labelledby=form-title] .Container .Form form .input-wrapper #input-date {
  cursor: pointer;
}
section[aria-labelledby=form-title] .Container .Form form button {
  margin-top: 1rem;
  width: 100%;
}

footer {
  width: 100%;
  background-color: var(--txt-clr);
}
footer .Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
}
footer .Container h2 {
  white-space: nowrap;
  color: var(--bg-clr);
}
footer .Container nav {
  width: 100%;
}
footer .Container nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .Container nav ul li {
  transition: transform 0.3s ease-out;
}
footer .Container nav ul li a svg {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  box-shadow: var(--shadow);
  fill: var(--bg-clr);
}

@media screen and (min-width: 100em) {
  .Container {
    --container-width: calc(1600px - 6rem);
  }
}
@media screen and (max-width: 100em) {
  .Container {
    --container-width: 90%;
  }
}
@media screen and (max-width: 64em) {
  .Container {
    --container-width: calc(100% - 4rem);
  }
  .hero-title {
    --fs-3xl: calc(2.5rem + 3vw);
  }
  main#Hero .Container .r1 p {
    width: 70%;
  }
  main#Hero .Container .r2 {
    display: block;
    margin-top: calc(var(--margin) * 2.5);
  }
  main#Hero .Container .r2 .hero-image {
    width: 100%;
    margin-bottom: 3rem;
  }
  main#Hero .Container .r2 .hero-image .image-placeholder,
  main#Hero .Container .r2 .hero-image img,
  main#Hero .Container .r2 .hero-image .imag-overlay {
    width: 100%;
    height: unset;
    aspect-ratio: 5/3;
  }
  main#Hero .Container .r2 .hero-image img {
    position: static;
  }
  main#Hero .Container .r2 .hero-image .imag-overlay {
    opacity: 1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: linear-gradient(to top, hsla(0, 0%, 10%, 0.9) 0%, hsla(0, 0%, 10%, 0.5) 25%, hsla(0, 0%, 10%, 0) 50%, hsla(0, 0%, 10%, 0.2) 80%, hsla(0, 0%, 10%, 0.2) 100%);
  }
  main#Hero .Container .r2 .hero-image .card {
    position: static;
    display: block;
    transition: none;
    transform: none;
    opacity: 1;
  }
  main#Hero .Container .r2 .hero-image .hero-image:hover .card {
    opacity: 1;
    transform: none;
  }
  section[aria-labelledby=form-title] .Container {
    --container-width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 48em) {
  :root {
    --margin: min(8em, 8vh);
  }
  .Container {
    --container-width: calc(100% - 2rem);
  }
  header.main-header {
    position: relative;
  }
  header.main-header .header__Container .c2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  header.main-header .header__Container .c2 .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 9999;
    isolation: isolate;
    transform: translate(0, -50%);
    border: none;
    outline: none;
    padding: 0;
    aspect-ratio: 1;
  }
  header.main-header .header__Container .c2 .mobile-nav-toggle span:not(.visually-hidden) {
    display: block;
    width: 1.875rem;
    height: 0.1875rem;
    margin-bottom: 0.3125rem;
    position: relative;
    background: var(--txt-clr);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform var(--time-fast) var(--animation), background var(--time-fast) var(--animation), opacity var(--time-fast) ease;
  }
  header.main-header .header__Container .c2 .mobile-nav-toggle span:first-child {
    transform-origin: 0% 0%;
  }
  header.main-header .header__Container .c2 .mobile-nav-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  header.main-header .header__Container .c2 .mobile-nav-toggle[aria-expanded=true] span:not(.visually-hidden) {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -2px);
  }
  header.main-header .header__Container .c2 .mobile-nav-toggle[aria-expanded=true] span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 0);
  }
  header.main-header .header__Container .c2 .mobile-nav-toggle[aria-expanded=true] span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header.main-header .header__Container .c2 nav {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    isolation: isolate;
    z-index: 1000;
    top: var(--Header-hight);
    left: 0;
    background-color: var(--bg-clr);
    padding: calc(var(--Header-hight) / 2) 1rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
    transform: translateY(-125%);
  }
  header.main-header .header__Container .c2 nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  header.main-header .header__Container .c2 nav ul a:not(.button) {
    color: var(--txt-clr);
  }
  header.main-header .header__Container .c2 nav ul li {
    width: 100%;
    text-align: center;
  }
  header.main-header .header__Container .c2 nav[data-state=opened] {
    animation: slideIn var(--time-slow) var(--animation) forwards;
    display: block;
  }
  header.main-header .header__Container .c2 nav[data-state=closing] {
    animation: slideOut var(--time-slow) var(--animation) forwards;
  }
  header.main-header .header__Container .c2 nav[data-state=closed] {
    display: none;
  }
  @keyframes slideIn {
    0% {
      transform: translateY(-125%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-125%);
    }
  }
  .hero-title {
    text-wrap: wrap;
    text-align: center;
  }
  main#Hero .Container .r1 p {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }
  section[aria-labelledby=form-title] .Container {
    --container-width: calc(100% - 2rem);
  }
  .button {
    width: 100%;
  }
  .button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 26.5625em) {
  main#Hero .Container .r2 {
    margin-top: var(--margin);
  }
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  header nav a:hover,
  .button:hover,
  footer li {
    opacity: 0.9;
  }
  header nav a:not(.button):hover {
    text-decoration: underline;
  }
  footer li:first-child:hover {
    transform: rotate(-10deg) scale(1.1);
  }
  footer li:nth-child(2):hover {
    transform: scale(1.2);
  }
  footer li:last-child:hover {
    transform: rotate(10deg) scale(1.1);
  }
}
@supports not (overflow: clip) {
  html,
  body {
    overflow: hidden;
  }
}
/* For people who have motion sickness. */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}/*# sourceMappingURL=index.css.map */